.futsal{
    margin-left: -12.5rem;
    position: absolute;
    transition: linear 400ms;
    opacity: 85%;
}
.volei{
    position: absolute;
    transition: linear 400ms;
    max-width: 400px;
    width: 100%;
    opacity: 85%;
}
.vol-img img{
    margin-top: -7rem;
    margin-left: 8rem;
    width: 22rem;
    height: auto;
    position: absolute;
}
.fut-img img{
    margin-top: -5rem;
    margin-left: -17rem;
    width: 20rem;
    height: auto;
    position: absolute;
    transition: 400ms;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    
    
}
.title-fut h1{
    color: white;
    font-weight: 600;
    font-family: var(--normal--font);
    
}

.title-volei h1{
    color: white;
    font-weight: 600;
    font-family: var(--normal--font);
    max-width: 800px;
    width: 100%;
}

.title-fut{
    position: absolute;
    margin-top: -10rem;
    margin-left: -13rem;
}
.title-volei{
    position: absolute;
    margin-top: -10rem;
    margin-left: 13rem;
}

.futsal:hover{
    transform: scale(1.2);
    opacity: 100%;

}
.volei:hover{
    transform: scale(1.2);
    opacity: 100%;

}